extends ../layouts/sign

block content
  h5 Sign in

  .register-option
    a.btn.btn-email(href='/login-email')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Sign in with Email

    a.btn.btn-primary(href='/login-sms')
      i.fa.fa-envelope.social-icon(aria-hidden='true')
      |  Sign in with Phone Number
