#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group')
                a.btn.btn-light(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          #list.sidebar-body.message-body(tabindex='3' style='overflow: hidden; outline: none;')
            #Itsme(data-user = ID)
            ul#conversations.list-group.list-group-flush
              if conversations.length !== 0
                each cv in conversations
                  li.conversation.list-group-item(data-conversation-id = cv._id)
                    div
                      figure.avatar
                        img.rounded-circle(src='dist/images/women_avatar5.jpg')
                    .users-list-body
                      if cv.userIds.length == 2
                        each ob in cv.userIds
                          if ID != ob.id
                            h5= ob.name
                      else     
                        h5= cv.groupName 
                      p= cv.description
                      .users-list-action.action-toggle
                        .dropdown
                          a(data-toggle='dropdown' href='#')
                            i.ti-more
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#') Open
                            a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                            a.dropdown-item(href='#') Add to archive
                            a.dropdown-item(href='#') Delete
  
