#listRequest.sidebar
      header
        span Friends
        ul.list-inline
          li.list-inline-item
            a.btn.btn-light(href='#' data-toggle='modal' data-target='#addFriends')
              i.ti-plus.btn-icon
              |  Add Friends
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search chat')
      .sidebar-body(tabindex='4' style='overflow: hidden; outline: none;')
        each request in requests 
          ul.list-group.list-group-flush
            li.list-group-item
              div
                figure.avatar
                  img.rounded-circle(src='dist/images/women_avatar5.jpg')
              .users-list-body
                h5= request.fullName
                p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
                .users-list-action.action-toggle
                  .dropdown
                    a(data-toggle='dropdown' href='#')
                      i.ti-more
                    .dropdown-menu.dropdown-menu-right
                      a.accept-request.dropdown-item.active(href='#' data-profile=request.friendId) Accept
                      a.deny-request.dropdown-item.active(href='#' data-profile=request.friendId) Deny
          